<div  class="container-fluid">
    <h2 class="text-center text-muted">New Arrival</h2>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class=" col-lg-3 col-sm-3 col-4">
            <h5 class="text-muted">Categories</h5>
            <ul class="list-group">
                <% allcategory.forEach(function(y){ %>

                    <li class="list-group-item">
                        <a href="#" class="text-muted">
                            <%= y.category_name%>
                        </a>
                    </li>
                    <% }); %>

            </ul>
        </div>
        <div class="col-lg-9 col-sm-9 col-8">
            <h5 class="text-center font-weight-bold mb-4">Products</h5>
            <div class="row">

                <% product.forEach(function(x){ %>

                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-6">
                                    <img src="/uploads/<%= x.image %>" height="100%" class=" bg-danger card-img" alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title m-0 ">
                                            <%= x.product_title %>
                                        </h5>
                                        <p class="text-muted ">&#8377;
                                            <%=x.product_price %>
                                        </p>
                                        <p class="card-text Product-Detail" maxlength="20">
                                            <%= x.product_detail %>
                                        </p>
                                        <p class="m-0 p-0 text-center">
                                           <b><i> Buy Now Click Here</i></b>  <i class="fa fa-arrow-down " aria-hidden="true"></i>
                                        </p>
                                        <a class="btn btn-primary btn-sm m-2 d-block" href="/moreinfo/<%= x._id %>" >More Info</a>
                                        <a href="/cart/add/<%= x._id %>" class="btn btn-sm btn-dark d-block"><i class="fa fa-shopping-cart text-light mr-2" aria-hidden="true"></i>Add to Cart</a>
                                        <p class="card-text  text-muted">
                                            <span class="fa fa-star text-warning "></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                        </p>
                                        <p class="card-text"><small class="text-muted">(322)Reviews</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <% }); %>






            </div>
        </div>
    </div>
</div>
