<html>
    <head>
        <link type='text/css' rel="stylesheet" href="/css/bootstrap.css" />
        <link type='text/css' rel="stylesheet" href="/css/font-awesome.css" />
        <link type='text/css' rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />


    </head>
    <body>
        <div class="container-fluid bg-orange">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <ul class="nav justify-content-end">
                            <% if(session.is_user_logged_in)
                            { %>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><%= session.name %></a>
                            </li>
                            <li class="nav-item">
                                <a href="/profile" class="nav-link">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="/logout" class="nav-link">Logout</a>
                            </li>
                           <% } 
                            else
                            { %>
                                <li class="nav-item">
                                    <a href="/login" class="nav-link">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/signup" class="nav-link">Signup</a>
                                </li>
                            <%
                            }
                            %>


                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
            <a href="/" class="navbar-brand">
                <%= logo %>
                <!-- <img src="<%= logo %>" /> -->
                <!-- <p>best shopping destination</p> -->
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="mainMenu" class="collapse navbar-collapse">
                <ul class="navbar-nav nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item dropdown">
                    
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Contact</a>
                        <div class="dropdown-menu">
                            <a href="/contact/info" class="dropdown-item">Info</a>
                            
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item">
                        <a href="/cart/mycart" class="nav-link">My Cart <span class="badge badge-pill badge-light"><%= totalItem %></span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid bg-gray banner">
            <div class="container">
                <h1>Best Shopping Site</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="container-fluid" style="min-height: 600px">
            <div class="container-fluid">
                <h1 class="text-center">Welcome</h1>
            </div>
            <% if(locals.categoryNotShow){ %>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
            <% }else{ %>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories</h5>
                                <ul class="nav flex-column border left-menu">
                                    <% allCategory.forEach(function(x){ %>
                    
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><%= x.category_name %></a>
                                    </li>
                                    <% }) %>
                    
                                </ul>
                            </div>
            <% } %>

            <%- include(pagename); %>
                    </div>
                </div>

        </div>

        <div class="container-fluid bg-dark p-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="/" class="nav-link text-light">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link text-light">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="/contact" class="nav-link text-light">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-light">Help</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
            <div id="show_msg_box" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
                <div class="toast" style="position: absolute; top: 5px; right: 5px; z-index : 9999" data-autohide="false" role="alert">
                    <div class="toast-header">
                        <strong class="mr-auto">Flipkart.com</strong>
            
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        New Product Added
                    </div>
                </div>
            </div>
        <script>
            
            $(document).ready(function () {
                $(".toast").toast("show");
            });
        </script>


        
        </body>
        
        </html>