<div id="profile" class="container mb-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <h1>This is Your Profile
                <%= session.name %>
            </h1>
           <% if(cpmsg!=""){ %>
                <div class="alert alert-info"><%= cpmsg %><a href="#" class="close" data-dismiss="alert">X</a></div>	
                <%  } %> 
            <table class="table-dark table table-bordered table-hover">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th>Full Name</th>
                        <td>
                            <%= user.f_name %>
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            <%= user.email %>
                        </td>
                    </tr>
                    <tr>
                        <th>Profile Picture</th>
                        <td>
                            <%
                            if(user.image){ 
                             %>   
                                <img class="rounded-circle" src="/profilePicture/<%= user.image %>" height="60" width="60" >
                                <br>
                                <a href="#" class="text-light " data-target="#uploadProfile" data-toggle="modal"  style="text-decoration: none; font-size: smaller;">Change Profile Picture</a>
                     <%                               
                          }else if(user.gender == "male"){ %>
                                <img class="rounded-circle" src="/image/user.png" height="60" width="60" >
                                <br>
                                <a href="#" class="text-light " data-target="#uploadProfile" data-toggle="modal"  style="text-decoration: none; font-size: smaller;">Change Profile Picture</a>

                          <%  } else{ %>
                            <img class="rounded-circle" src="/image/female.jpg" height="60" width="60" >
                            <br>
                            <a href="#" class="text-light " data-target="#uploadProfile" data-toggle="modal"  style="text-decoration: none; font-size: smaller;">Change Profile Picture</a>

                         <% }
                            %>
                        </td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>
                            <%= user.gender %>
                        </td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>
                            <%= user.city %>
                        </td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>
                            <%= user.contact %>
                        </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>
                            <%= user.address %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <Hr />
            <div class="text-center">
                <a href="/profile/edit/" class="btn btn-info">Edit</a>
                <a href="/profile/changepwd" class="btn btn-info">Change Password</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadProfile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Edit Profile Picture</h3>
            </div>
            <div class="modal-body">
                <form action="/profile/edit_profile_pic" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Select Profile Picture</label>
                    <input type="file" name="image" class="form-control"/>
                    <p class="text-danger">
                        <%= msg %>
                    </p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-success" />
                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% if(msg != ""){ %>

<script type="text/javascript">
    $(window).on('load', function () {
        $('#uploadProfile').modal('show');
    });
</script>
<% } %>

<script>
    window.onload = function(){ 
         
        $('html, body').animate({
            scrollTop: $('#profile').offset().top
        }, 'slow');
        
    }
        
        </script>

