<div
    style="height: 600px; background-image: url(image/rux1.jpg); background-repeat: no-repeat; background-size: 100% 100%; margin-bottom: 15px;">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h5 class="text-muted"> Categories</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" class="text-muted">Mobile<span class="badge">12</span></a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="text-muted">Electronics<span class="badge">24</span></a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="text-muted">Fashion<span class="badge">36</span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 mb-4">
            <div class="row">
                
                <% 
                product.forEach(function(x){ %>
                    
                    <div class="col-md-4">
                        
                        <div class="card">
                        <img src="/upload/<%= x.image %>" alt="Nature" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"> <%=  x.product_title %></h5>
                            <p class="card-text">
                                <%= x.product_detail %>
                            </p>
                            <p class="price"><%= x.product_price %></p>
                            <a href="/cart/add/<%= x._id  %>" class="btn btn-primary">Add TO Cart</a>
                </div>
            
        </div>
    </div>
       <% });
        %>

</div>



</div>
    </div>
</div>